<% if @user.errors.any?%>
  <div class="notification is-danger">
    <h2><%= pluralize(@user.errors.count, "error")%> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @user.errors.full_messages.each do |message|%>
        <li><%= message%></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>

 <%= f.label :username%>
 <%= f.text_field :username%>

 <%= f.label :email%>
 <%= f.text_field :email%>

 <%= f.label :フリースペース%>
 <%= f.text_field :profile%>

 <%= f.label :プロフィール画像%>
 <%= f.attachment_field :profile_image%>

  <%= f.submit "更新", class: "button is-danger is-light"%>

<% end %>
