<% if @nail.errors.any?%>
  <div class="notification is-danger">
    <h2><%= pluralize(@nail.errors.count, "error")%> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @nail.errors.full_messages.each do |message|%>
        <li><%= message%></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @nail do |f| %>

<%= f.label :タイトル%>
<%= f.text_field :title%>

<%= f.label :テキスト%>
<%= f.text_area :body%>

<%= f.label :画像%>
<%= f.attachment_field :image%>

<%= f.submit "投稿", class: "button is-danger is-light"%>

<% end %>
